.project-title {
    margin-left: 1rem;
    margin-right: 1rem;
}


.projects-h1{
    font-size: 21px;
    margin: 0 auto;
    margin-top: -2rem;
    max-width: 390px;
    text-align: center;
    background-color: rgb(16, 13, 43);
    padding: 1rem;
    border-radius: 30px;
    color: white;
    white-space: nowrap;
    border: 1px solid white;
  

}
.projects{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem;
}

.card-content{
    margin: 2rem 2rem;
    border-radius: 15px;
    width: 19.188rem;
    height: fit-content;
    border: solid 1px white;
    background-color: black;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.imagen{
    width: 100%;
    margin-bottom: -7rem;
    border-radius: 15px 15px ;

    
}

.info{
    z-index: 1;
    padding-top: 1rem;
    border-radius: 15px;
    background-color: white;
    position: relative;
    width: 100%;
}

.title_logo{
    width: 80%;
    margin-left: 1rem;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: flex;
}

.logo_mine{
    position:absolute;
    top: 5px;
    right: -6px;
    height: 44px;
}

.about_project{
    margin-top: 1rem;
    margin-left: 1rem;
    width: 84%;
    position: relative;
    font-weight: 600;
    
}

.content_about{
    margin-top: 1rem 1rem;
    font-size: .8rem;
    line-height: 21px;
}


.link_ownPage{
    font-size: .8rem;
    color: rgb(161, 118, 24);
    position: absolute;
    bottom: 4px;
    left: 6rem;
    text-decoration: solid;
    transition: all 500ms ease-in;
}

/* .link_ownPage::before{
    content: "..... ";
} */

.link_ownPage:hover{
transform: translateX(1.7rem);
}




.tec_links{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    background-color: #1C1E3D;
    justify-content: space-between;
    padding: .5rem;
    color: white;
}

.h4_tec{
    margin-left: 1rem;
}


.h4_links{
    margin-right: .5rem;
}

.two_divs_tec_links {
    margin-top: .7rem;
display: flex;
justify-content: space-between;

}

.technologys_use{
display: grid;
margin: 0 auto;
margin-top: .8rem;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, 10px);
gap: 10px;
}

.format_size{
    width: 35px;
    
}



.btn-projects{
    margin-right: 1rem;
}

.btn-projects img{
    
    width: 30px;
    transition: all 100ms ease-in;
}
.btn-projects img:hover{
    transform: scale(1.1);
}






